<p>reactive-forms works!</p>
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="userForm" (ngSubmit)="save()">
          <div>
            <h3>Kullanıcı Giriş</h3>
          </div>

          <div class="mb-3">
            <label class="form-label">Email :</label>
            <input formControlName="email" type="text" class="form-control" />
            <div class="form-text text-danger">
              <div *ngIf="isInvalid('email')">
                <div *ngIf="isInvalidControl('email', 'required')">
                    Email alanı gereklidir.
                  </div>
                  <div *ngIf="isInvalidControl('email', 'emailFormat')">
                    Email doğru formatta değil.
                  </div>
              </div>
            </div>
          </div>
  
          <div class="mb-3">
            <label class="form-label">Şifre :</label>
            <input formControlName="password" type="text" class="form-control" />
            <div class="form-text text-danger">
              <div *ngIf="isInvalid('password')">
                <div *ngIf="isInvalidControl('password', 'required')">
                  Şifre alanı gereklidir.
                </div>
                <div *ngIf="isInvalidControl('password', 'passwordFormat')">
                  Şifre doğru formatta değil.
                </div>
              </div>
            </div>
          </div>

  
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="isPublish"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Beni hatırla?</label
            >
          </div>
          <button type="submit" class="btn btn-primary">Giriş Yap</button>
        </form>
      </div>
    </div>
  </div>








