<p>reactive-forms works!</p>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="productForm" (ngSubmit)="save()">
                <div>
                    <h4>Form properties</h4>
                </div>
                <div class="mb-3">
                    <label clas="form-label">İsim</label>
                    <input type="text" class="form-control" formControlName="name">
                    <div class="from-text text-danger">
                        <div *ngIf="isInvalid('name')">
                        <div *ngIf="isInvalidControl('name', 'required')" >Ürün isim alanı gereklidir</div>
                        <div *ngIf="isInvalidControl('name', 'minlength') || isInvalidControl('name', 'maxlength')">Ürün isim alanı en az 5 karakter en fazla 10 karakter olabilir</div>
                         </div>
                    </div>
                    <div *ngIf="false"> <!--sakladık false diyerek hidden oldu-->
                        <h4>Product Name Properties</h4>
                        <ul>
                            <li> Valid: {{productForm.get("name")?.value | json}}</li>
                            <li> Invalid: {{productForm.get("name")?.valid}}</li>
                            <li> Errors: {{productForm.get("name")?.errors | json}}</li>
                            <li> Touched: {{productForm.get("name")?.touched}}</li>  <!--inputa dokununca-->
                            <li> Untouched: {{productForm.get("name")?.untouched}}</li>
                            <li> Dirty: {{productForm.get("name")?.dirty}}</li> <!--içerisine data girince-->
                            <li> Pristine: {{productForm.get("name")?.pristine}}</li>
                        </ul>
                    </div>
                </div>

                <div class="mb-3">
                    <label clas="form-label">Fiyat</label>
                    <input type="text" class="form-control" formControlName="price">
                </div>
                <div class="mb-3">
                    <label clas="form-label">Stok</label>
                    <input type="text" class="form-control" formControlName="stock">
                </div>
               <select formControlName="category" class="from-select">
                <option>Seçiniz</option>
                <option value="{{category.id}}" *ngFor="let category of categoryMenuList">{{category.text}}</option>
               </select>

               <div class="from-text text-danger">
                <div *ngIf="isInvalid('category')"> </div>
                <div *ngIf="isInvalidControl('category', 'required')" >Lütfen kategori belirleyiniz</div>
                </div>
            
               <div *ngFor="let publish of publishMenuList">
                <div class="form-check">
                    <input type="radio" formControlName="publish" class="form-check-input" value="{{publish.id}}">
                    <label class="form-check-label" for="flexRadioDeafult1">{{publish.text}}</label>
                </div>
               </div>
                <button type="submit" class="btn btn-primary">Kaydet</button>
            
            </form>
        </div>
    
    </div>
</div>

