<table class="table mt-5 table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>USER NAME</th>
        <th>EMAIL</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of userList">
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.username }}</td>
        <td>{{ p.email }}</td>
        <td>
         
        
          <a class="btn " [routerLink]="['/admin/user-detail', p.id]"
            >Show Details</a> 
          
        </td>
      </tr>
    </tbody>
  </table>
