
  
    <table class="table mt-5 ">
      <thead>
        <tr>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>B.DATE</th>
          <th>TYPE</th>
          <th>CONTENT</th>
          <th>P. EXPIRE</th> 
          <th>CONFIRM/DELETE</th>
        </tr>
      </thead>
      <tbody>
        <tr class="" *ngFor="let visitor of visitorService.visitors">
          <td>{{ visitor?.name }}</td>
          <td>{{ visitor?.email }}</td>
          <td>{{ visitor?.birthDate | date:'dd-MM-YYY' }}</td>
          <td>{{ visitor?.contentType }}</td>
          <td>{{ visitor?.content }}</td>
          <td>{{ visitor?.publishdateExpire }}</td>
          <td>  <input type="checkbox" [(ngModel)]="isChecked"  (change)="checkValue(isChecked? visitor.isConfirmed = true : visitor.isConfirmed = false)" [disabled]=" visitor.isConfirmed" ><button class="btn btn-danger" (click)="visitorService.deleteVisitor(visitor.email)" style="margin-left: 15px;">Delete</button></td>
          
          
        
          <!-- <th>{{ visitor?.isConfirmed }}</th> -->
        </tr>
      </tbody>
    </table>
 

     
   