<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
             <h5 class="card-title">Product</h5>
             <p>id: {{selectedProduct?.id}}</p>
             <p>name: {{selectedProduct?.name}}</p>
             <p>price: {{selectedProduct?.price}}</p>
             <p>stock: {{selectedProduct?.stock}}</p>
             <p>color: {{selectedProduct?.color}}</p>
             <p>category: {{selectedProduct?.category}}</p>
        
            </div>
        </div>
    </div>
</div>

