<div class="myheader">
    <div class="mycontent">
      
          <ul class="mynavigation">
              <li><a routerLink="/admin/home" class="active mya">HOME</a></li>
              <li><a class="mya" routerLink="/admin/posts">POSTS</a></li>
              <li><a class="mya" routerLink="/admin/users">USERS</a></li>
              <li><a class="mya" routerLink="/admin/visitors">VISITORS</a></li>
          </ul>
          
    </div>
  </div>
  
  <div class="mycontainer">
    <div class="mycard mycenter">
     <router-outlet></router-outlet>
    </div>
  </div>

 