<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="row" style="height: 100vh">
<div class="myheader col-md-3">
    <div class="mycontent">
      
          <ul class="mynavigation">
              <li><i class="fa-solid fa-house" style="margin-right: 7px;"></i><a routerLink="/admin/home" class="active mya">HOME</a></li>
              <li><i class="fa-solid fa-folder-tree" style="margin-right: 7px;"></i><a class="mya" routerLink="/admin/posts">POSTS</a></li>
              <li><i class="fa-solid fa-users" style="margin-right: 7px;"></i><a class="mya" routerLink="/admin/users">USERS</a></li>
              <li><i class="fa-solid fa-users-gear" style="margin-right: 7px;"></i><a class="mya" routerLink="/admin/visitors">VISITORS</a></li>
              <li><i class="fa-regular fa-square-caret-left" style="margin-right: 7px;"></i><a class="mya" routerLink="/home">MAIN HOME</a></li>
          </ul>
          
    </div>
  </div>
  
  <div class="pb-5 col-md-8 container">
   
     <router-outlet></router-outlet>
  
  </div>
</div>




 