<div class="row">
    <div class="col-md-6 offset-md-3">
        <form [formGroup]="myForm" (ngSubmit)="saveProduct()">
            <div class="mb-3">
                <label clas="form-label">Ad</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="mb-3">
                <label clas="form-label">Fiyat</label>
                <input type="number" class="form-control" formControlName="price">
            </div>
            <div class="mb-3">
            <label>Kategori</label>
            </div>   
            <select class="form-control" formControlName="category" class="from-select">
                <option>Seçiniz</option>
                <option value="{{category.id}}" *ngFor="let category of categoryList">{{category.text}}</option>
            </select>
            <div class="mb-3 mt-3">
                <label clas="form-label">Yayınlansın mı?</label>
                <input type="checkbox" formControlName="isPublish" style="margin-left: 10px;">
            </div>
            <div class="mb-3">
                <label clas="form-label">Yayınlanma Süresi</label>
               <div class="mt-2" *ngFor="let time of publishList">
                <input type="radio" formControlName="publishTime" class="form-check-input" value="{{time.id}}">
                <label class="form-check-label" for="flexRadioDeafult1">{{time.text}}</label>
               </div>
            </div>
            <button class="btn btn-light" type="submit">Kaydet</button>
           
        </form>
       
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6 offset-md-3">
        <table class="table">
            <thead>
                <th>Ad</th>
                <th>Fiyat</th>
                <th>Kategori</th>
                <th>Yayınlasın mı?</th>
                <th>Yayınlanma Süresi</th>
            </thead>
        <tbody>
            <tr *ngFor="let product of productList">
              <td>{{product.name}}</td>
              <td>{{product.price}}</td>
              <td>{{product.category}}</td>
              <td>{{product.isPublish}}</td>
              <td>{{product.publishTime}}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
