<!-- <div class="row" style="height: 100px;"></div> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="row">
  
  <div *ngIf="visibilityAlertReject" class="alert error-modal mt-4 d-flex justify-content-between">
    <div>Form is not valid. Please check your form.</div>
    <button class="close-icon-error" (click)="closeAlert()">
      <i class="fa-solid fa-xmark fa-2x"></i>
    </button>
  </div>
  <div *ngIf="visibilityAlertConfirm" class="alert success-modal mt-4 d-flex justify-content-between">
    <div>Form submitted succesfully.</div>
    <button class="close-icon-success" (click)="closeAlert()">
      <i class="fa-solid fa-xmark fa-2x"></i>
    </button>
  </div>

  <div class="col-md-8 offset-md-2 p-5 mt-3" style="border: 1px solid rgb(168, 165, 165); border-radius: 5%;">

    <form [formGroup]="visitorForm" (ngSubmit)="save()">

     

      <div class="mb-3 ">
        <label class="form-label">Name</label>
        <input formControlName="name" type="text" class="form-control" placeholder="Name" />
        <div class="form-text text-danger">
          <div *ngIf="isInvalid('name')">
            <div *ngIf="isInvalidControl('name', 'required')">
              Name is required.
            </div>

          </div>
        </div>
      </div>

      <div class="mb-3 ">
        <label class="form-label">Email</label>
        <input formControlName="email" type="text" class="form-control" placeholder="Email" />
        <div class="form-text text-danger">
          <div *ngIf="isInvalid('email')">
                    <div *ngIf="isInvalidControl('email', 'required')">
                        Email is required.
                      </div>
                  </div>
        </div>
      </div>

      <div class="mb-3 ">
        <label class="form-label">Content</label>
        <textarea rows="3" formControlName="content" class="form-control" placeholder="Content"> </textarea>
        <div class="form-text text-danger">
          <div *ngIf="isInvalid('content')">
                    <div *ngIf="isInvalidControl('content', 'required')">
                        Content is required.
                      </div>
                      <div *ngIf="isInvalidControl('content', 'contentFormat')">
                        Content should include min 50 characters
                      </div>
                  </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Birth Date</label>
        <input formControlName="birthDate" type="date" class="form-control" />
        <div class="form-text text-danger">
          <div *ngIf="isInvalid('birthDate')">
            <div *ngIf="isInvalidControl('birthDate', 'required')">
                Birthdate is required.
              </div>
              <div *ngIf="isInvalidControl('birthDate', 'ageFormat')">
                At least 16 years of age is valid.
              </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Publish Expire</label>
        <div *ngFor="let publish of publishList">
          <div class="form-check">
            <input formControlName="publishdateExpire" class="form-check-input" type="radio"
              value="{{ publish.text }}" />
            <label class="form-check-label" for="flexRadioDefault1">
              {{ publish.text }}
            </label>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Content Type</label>
        <select formControlName="contentType" class="form-select">
          <option value="">Please select</option>
          <option value="{{ content.text }}" *ngFor="let content of contentList">
            {{ content.text }}
          </option>
        </select>

        <div class="form-text text-danger">
          <div *ngIf="isInvalid('contentType')">
                        <div *ngIf="isInvalidControl('contentType', 'required')">
                          Please select a content type.
                        </div>
                      </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" style="width: 100%;">Send</button>

    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table mt-5">
      <thead>
        <tr class="table-title">
          <th>Name</th>
          <th>E-mail</th>
          <th>Content</th>
          <th>Birthdate</th>
          <th>Publish</th>
          <th>Content Type</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-text" *ngFor="let visitor of visitorService.filterConfirm()">
          <th>{{ visitor?.name }}</th>
          <th>{{ visitor?.email }}</th>
          <th>{{ visitor?.content }}</th>
          <th>{{ visitor?.birthDate }}</th>
          <th>{{ visitor?.publishdateExpire }}</th>
          <th>{{ visitor?.contentType }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>