
    <!-- <div class="row" style="height: 100px;"></div> -->
    <div class="row">
        <div class="col-md-8 offset-md-2 p-5 mt-3" style="border: 1px solid rgb(168, 165, 165); border-radius: 5%;">

            <form [formGroup]="visitorForm" (ngSubmit)="save()">
              

                <div class="mb-3 ">
                    <label class="form-label">Name</label>
                    <input formControlName="name" type="text" class="form-control" placeholder="Name" />
                    <div class="form-text text-danger">
                        <!-- <div *ngIf="isInvalid('email')">
                  <div *ngIf="isInvalidControl('email', 'required')">
                      Email is required.
                    </div>
                    <div *ngIf="isInvalidControl('email', 'emailFormat')">
                      Email is not in a correct format.
                    </div>
                    <div *ngIf="!isInvalidControl('email', 'isEmailMatch')">
                      The mail is not exist.
                    </div>
                </div> -->
                    </div>
                </div>

                <div class="mb-3 ">
                    <label class="form-label">Email</label>
                    <input formControlName="email" type="text" class="form-control" placeholder="Email" />
                    <div class="form-text text-danger">
                        <!-- <div *ngIf="isInvalid('email')">
                    <div *ngIf="isInvalidControl('email', 'required')">
                        Email is required.
                      </div>
                      <div *ngIf="isInvalidControl('email', 'emailFormat')">
                        Email is not in a correct format.
                      </div>
                      <div *ngIf="!isInvalidControl('email', 'isEmailMatch')">
                        The mail is not exist.
                      </div>
                  </div> -->
                    </div>
                </div>

                <div class="mb-3 ">
                    <label class="form-label">Content</label>
                    <input formControlName="content" type="text" class="form-control" placeholder="Content" />
                    <div class="form-text text-danger">
                        <!-- <div *ngIf="isInvalid('email')">
                    <div *ngIf="isInvalidControl('email', 'required')">
                        Email is required.
                      </div>
                      <div *ngIf="isInvalidControl('email', 'emailFormat')">
                        Email is not in a correct format.
                      </div>
                      <div *ngIf="!isInvalidControl('email', 'isEmailMatch')">
                        The mail is not exist.
                      </div>
                  </div> -->
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Birth Date</label>
                    <input formControlName="birthDate" type="date" class="form-control" />
                    <div class="form-text text-danger">
                        <!-- <div *ngIf="isInvalid('publishStartDate')">
                    <div *ngIf="isInvalidControl('publishStartDate', 'required')">
                      ürün başlangıç tarihi alanı gereklidir.
                    </div>
                    
                  </div> -->
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Publish Expire</label>
                    <div *ngFor="let publish of publishList">
                        <div class="form-check">
                            <input formControlName="publishdateExpire" class="form-check-input" type="radio"
                                value="{{ publish.text }}" />
                            <label class="form-check-label" for="flexRadioDefault1">
                                {{ publish.text }}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Content Type</label>
                    <select formControlName="contentType" class="form-select">
                      <option value="">Please select</option>
                      <option
                        value="{{ content.text }}"
                        *ngFor="let content of contentList"
                      >
                        {{ content.text }}
                      </option>
                    </select>
          
                    <div class="form-text text-danger">
                      <!-- <div *ngIf="isInvalid('category')">
                        <div *ngIf="isInvalidControl('category', 'required')">
                          lütfen kategori belirleyiniz.
                        </div>
                      </div> -->
                    </div>
                  </div>

                <button type="submit" class="btn btn-primary" style="width: 100%;">Send</button>

            </form>
        </div>
    </div>
