
  input {
    background-color: #deefff;

  }
  textarea{
    background-color: #deefff;
  }
  select{
    background-color: #deefff;
  }
  .input-danger{
    border: 1px solid red;
  }
  .btn{
    background-color: #f1bb25;
    color: #ffffff;
  }
  .btn:hover{
    background-color: #f1b100;
  }
  table{
    table-layout:fixed;

  }
  td{
    word-break: break-all;
    color:#000000;
  }
  th{
    color:#000000;
  }

  table{
    background-color: #f1bb25 ;
  }