<div class="row mt-4">
<div class="col-md-3">
<ul>
    <li style="list-style-type: none; text-decoration: none; margin-bottom: 10px;"><a style="text-decoration: none;" routerLink="/admin/visitor">Admin Sayfası</a></li>
    <li style="list-style-type: none; margin-bottom: 10px;"><a style="text-decoration: none;" routerLink="/admin/user-list">Kullanıcılar Listesi</a></li>
    <li style="list-style-type: none; margin-bottom: 10px;"><a style="text-decoration: none;" routerLink="/admin/details">Detay Görüntüle</a></li>
    <li style="list-style-type: none; margin-bottom: 10px;"><a style="text-decoration: none;" routerLink="/anasayfa">Ana Sayfaya Geri Dön</a></li>
</ul>
</div>

<div class="col-md-9">
<router-outlet></router-outlet>
</div>
</div>