<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
             <h5 class="card-title mb-4">Employee Details</h5>
             <p>IdentityNo: {{selectedEmployee?.identityNo}}</p>
             <p>Name: {{selectedEmployee?.name}}</p>
             <p>Surname: {{selectedEmployee?.surname}}</p>
             <p>Age: {{selectedEmployee?.age}}</p>
             <p>Email: {{selectedEmployee?.email}}</p>
             <p>Department: {{selectedEmployee?.department}}</p>
        
            </div>
        </div>
    </div>
</div>
