<table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>UserId</th>
        <th>Title</th>
        <th>Body</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of postList">
        <td>{{ p.id }}</td>
        <td>{{ p.userId }}</td>
        <td>{{ p.title }}</td>
        <td>{{ p.body }}</td>
        <td>
         
        
          <a class="btn btn-primary" [routerLink]="['/admin/comments-list', p.id]"
            >yorumları göster</a> 
          
        </td>
      </tr>
    </tbody>
  </table>
