<table class="table mt-5 table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>USER ID</th>
        <th>TITLE</th>
        <th>BODY</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of postList">
        <td>{{ p.id }}</td>
        <td>{{ p.userId }}</td>
        <td>{{ p.title }}</td>
        <td>{{ p.body }}</td>
        <td>
         
        
          <a class="btn " [routerLink]="['/admin/comments-list', p.id]"
            >Comments</a> 
          
        </td>
      </tr>
    </tbody>
  </table>
