<nav class="navbar navbar-expand-lg bg-light bg-body-tertiary">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/anasayfa">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/hakkimizda">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/iletisim">İletişim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/visitor">Admin Sayfası</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-md-9 offset-md-1 mt-4">
    <router-outlet></router-outlet> 
</div>
