<div class="container" style="height: 100px;">
  <div class="row" >
    <div class="col-md-6 offset-md-3 mt-5">
 <b style="color:rgb(186, 186, 26); font-size: large;">WELCOME TO EMPLOYEE MANAGER</b>
</div>
  </div>
</div>
<div>
  
    <app-child-employee [selectedId]="selectedEmployee?.id"    (detailbtnClick) = "showDetail($event)" [employeeList] = "employeeList" ></app-child-employee>  <!--childaki listemi parent a bu şekilde taşıyorum-->
</div>
<div>
 <app-child-employee-detail (closeEventClick)="close()" *ngIf="toggleEmployeeDetail" [selectedEmployee]="selectedEmployee"></app-child-employee-detail>
</div>

