<ul>
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/user-list">User List</a></li>
  <li><a routerLink="/user-create">User Create</a></li>
  <li><a routerLink="/post/post-list"> Post List</a></li>
  <li><a routerLink="/post/post-create">Post Create</a></li>
</ul>

<button (click) = "changeHeader()">Header Değiştir</button>
<app-user-list #c_userlist></app-user-list>
<h1 #header>Merhaba Dünya</h1>
<app-ng-container-and-template></app-ng-container-and-template>

<router-outlet></router-outlet>
