<p>template-driven works!</p>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form #productForm="ngForm" (ngSubmit)="saveProduct(productForm)">
                <div>
                    <h4>Form properties</h4>
                    <ul>
                        <li> Valid: {{productForm.valid}}</li>
                        <li> Invalid: {{productForm.invalid}}</li>
                        <li> Errors: {{productForm.errors | json}}</li>
                        <li> Touched: {{productForm.touched}}</li>
                        <li> Untouched: {{productForm.untouched}}</li>
                        <li> Dirty: {{productForm.dirty}}</li>
                        <li> Pristine: {{productForm.pristine}}</li>
                    </ul>
                </div>
                <div class="mb-3">
                    <label clas="form-label">İsim</label>
                    <input #txtName="ngModel" [ngModel] = "newProduct?.name" type="text" class="form-control" name="txtProductName" required maxlength="10" minlength="5" [ngClass]="{invalid: isInValid(txtName.control), valid : isValid(txtName.control)}">
                    <div class="from-text text-danger">
                        <div *ngIf="txtName.invalid && (txtName.dirty || txtName.touched)">Ürün isin alanı gereklidir</div>
                        <div *ngIf="txtName.errors?.['minlength'] || txtName.errors?.['maxlength']">Ürün isim alanı en az 5 karakter en fazla 10 karakter olabilir</div>
                    </div>
                    <div>
                        <h4>Name properties</h4>
                        <ul>
                            <li> Value: {{txtName.value}}</li>
                            <li> Valid: {{txtName.valid}}</li>
                            <li> Invalid: {{txtName.invalid}}</li>
                            <li> Errors: {{txtName.errors | json}}</li>
                            <li> Touched: {{txtName.touched}}</li>
                            <li> Untouched: {{txtName.untouched}}</li>
                            <li> Dirty: {{txtName.dirty}}</li>
                            <li> Pristine: {{txtName.pristine}}</li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    <label clas="form-label">Fiyat</label>
                    <input  [ngModel] = "newProduct?.price" type="number" class="form-control" name="txtProductPrice" required min="100" max="1000" #txtPrice = "ngModel">
                    <div>
                        <h4>Price properties</h4>
                        <ul>
                            <li> Value: {{txtPrice.value | json}}</li>
                            <li> Valid: {{txtPrice.valid}}</li>
                            <li> Invalid: {{txtPrice.invalid}}</li>
                            <li> Errors: {{txtPrice.errors | json}}</li>
                            <li> Touched: {{txtPrice.touched}}</li>
                            <li> Untouched: {{txtPrice.untouched}}</li>
                            <li> Dirty: {{txtPrice.dirty}}</li>
                            <li> Pristine: {{txtPrice.pristine}}</li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    <label clas="form-label">Stok</label>
                    <input [ngModel] = "newProduct?.stock" type="text" class="form-control" name="txtProductStock">
                </div>
                <div class="mb-3">
                    <label clas="form-label">Kategori</label>
                    <input [ngModel] = "newProduct?.category" type="text" class="form-control" name="txtProductCategory">
                </div>
                <button type="submit" class="btn btn-primary">Kaydet</button>
            
            </form>
        </div>
    
    </div>
</div>

